@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* All settings */
body, html{
    font-family: Inter;
    max-width: 1920px;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}
button:active {
    transform: scale(0.95);
}
p{
    font-family: Montserrat;
}

/* Header */
header{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    font-weight: 400;
    margin-top: 42px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
header ul{
    height: 69px;
    display: inline-flex;
    list-style: none;
    margin: 0px;
    padding-inline: 84px;
    background-image: url(/src/Image/Header/BackGround.svg);
    background-repeat: no-repeat;
}
header ul li{
    padding-top: 16px;
}
header ul li a{
    color: black;
    text-decoration: none;
    padding-inline: 70px;
}
header button{
    background-image: url(/src/Icons/logo.svg);
    display: inline-flex;
    margin-inline: 25px;
    width: 72px;
    height: 60px;
}
h1{
    font-size: 60px;
    font-family: Inter;
}
/* Page 1 */
.Page--1{
    max-width: 1920px;
    height: 1080px;
    margin-top: -69px;
    background-image: url("/src/Image/Page1/BackGround.png");
    background-repeat: no-repeat;
}
.Hero{
    margin-top: -200px;
    margin-inline: 507px;
    padding-top: 325px;
    max-width: 907px;
}

.Hero h1{
    font-size: 100px;
    color: #57270E;
    font-weight: bold;
    text-transform: uppercase;
}
.Page--1 div button{
    font-family: Montserrat;
    color: black;
    background-color: #FFCAAD;
    border-radius: 30px;
    border-width: 0px;
    font-size: 30px;
    width: 222px;
    height: 68px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.Page--1 div button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.Page--1 div{
    margin-left: auto;
    margin-right: auto;
}
.Page--1 div:not(.Hero){
    width:max-content;
}


.Page--2{
    width: auto;
    height: 1000px;
    background-image: url(/src/Image/Page2/BackGround.svg);
}
.Header--2 h1{
    text-transform: uppercase;
    width: 483px;
    height: 73px;
    padding-top: 100px;
    margin-top: 0px;
    color: #57270E;
    margin-left: auto;
    margin-right: auto;
}
.Header--2{
    width: initial;
}


/* Hero 2 */
.Hero--2{
    width: 1239px;
    height: 601px;
    margin-left: auto;
    margin-right: auto;
}
.Hero--2 img{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 8px;
}


.H1{
    display: inline-block;
    position: absolute;
    margin-left: 197px;  
    width: 464px;
    height: 601px;
}

.H{
    display: flex;
    position: relative;
    background-image: url(/src/Image/Page2/BackgroundInfo.svg);
    background-repeat: no-repeat;
    height: 259px;
}
.x{
    margin-top: 83px;
}

.list{
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.list li{
    width: auto;
}

.Page--3{
    max-width: 1920px;
    height: 1080px;
}

.Header--3 h1{
    text-transform: uppercase;
    width: 563px;
    height: 73px;
    padding-top: 70px;
    margin-top: 0px;
    color: #57270E;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.Hero--3{
    width: 1615px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between
}

.Hero--3-1{
    background-image: url(/src/Image/Page3/BackgroundInfo.svg);
    background-repeat: no-repeat;
    width: 587px;
    height: 242px;
}

.Hero--3 p{
    font-size: 28px;
    width: 508px;
    margin-inline: auto;
}

.map{
    position: relative;
    background-image: url(/src/Image/Page3/Map.svg);
    background-repeat: no-repeat;
    width: 942px;
    height: 478px;
}

.img-1{
    position: absolute;
    width: 223px;
    height: 183px;
    background-image: url(/src/Image/Page3/btn1.svg);
    top: 17px;
    left: 24px;
}

.img-2{
    position: absolute;
    width: 493px;
    height: 258px;
    background-image: url(/src/Image/Page3/btn2.svg);
    top: 8px;
    left: 432px;
}

.img-3{
    position: absolute;
    width: 142px;
    height: 98px;
    background-image: url(/src/Image/Page3/btn3.svg);
    top: 282px;
    left: 735px;
}




/* Footer */
.Footer{
    height: 136px;
    max-width: 1920px;
    background-image: url(/src/Image/Footer/BackGround.svg);
}

.Footer-1{
    padding-top: 37px;
    padding-left: 123px;
    padding-right: 163px;   
    display: flex;
    justify-content: space-between
}

.Footer-3{
    width: 302px;
    display: flex;
    justify-content: space-between;
}

.vk{
    background-image: url(/src/Icons/vk.svg);
    width: 68px;
    height: 44px;
}

.dzen{
    background-image: url(/src/Icons/dzen.svg);
    width: 59px;
    height: 56px;
}

.tg{
    background-image: url(/src/Icons/tg.svg);
    width: 64px;
    height: 53px;
}

.logo2{
    background-image: url(/src/Icons/logo2.svg);
    width: 340px;
    height: 72px;
}

.btn{
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
}

.btn:hover {
    opacity: 0.8;
}